.vscode
.env
__pycache__
venv/
**/__pycache__/*
.idea/*
bin/*
lib/
**/*.png
man/**
include/**
**/*.pyc
**/.env*
**/logs/*
.pytest_cache
**/.pytest_cache/*
**/*.json
**/__pycache__/
*.py[cod]
.env**
**/screenshots/
**/.\\screenshots*

