[BASIC]
good-names=
    i,
    e,
    logger,
disable=
    C0301,
    C0116,
    C0301,
    C0330,
    E0611,
    E0401,
    C0115,
    C0116,
[DESIGN]

# Maximum number of locals for function / method body
max-locals=25

# Maximum number of arguments for function / method
max-args=10
